body {
  margin: 0;
  padding: 0;
  background: url("../public/images/logo.webp") no-repeat center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}
